<template>
    <v-main class="bg">
        <v-container fluid>
            <h2 class="primary--text">Capital Share</h2>
        </v-container>
    </v-main>
</template>


<script>

export default {
    name:"loanTransaction",
}
</script>

<style>
.bg{
  background-color: #E0E0E0;
}
</style>